<nav class="navbar navbar-expand-lg navbar-light top-nav-collapse sticky-top">

  <div class="container">
  <div class="col-md-12 col-lg-12 col-sm-4 text-center">
    <img src="/assets/images/icon.jpg" style="width:25px; height:35px;" alt="">
    <a class="navbar-brand" href="dashboard/"> Elemental</a>
  </div>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <p>Hola</p>
  </div>
  <div class="col-auto">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>

  </div>

</nav>
