<header class="header-section">
  <div class="logo">
    <a [routerLink]="['dashboard']"><img src="/assets/img/logo.svg" alt="elemental elementalweb sitio sitios web site"></a>
    <!-- Logo -->
  </div>
  <!-- Navigation -->
  <div class="responsive"><i class="fa fa-bars"></i></div>
  <nav>
    <ul class="menu-list">
      <li [routerLinkActive]="['active']"><a [routerLink]="['dashboard']">Inicio</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['services']">Servicios</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['about-us']">Nosotros</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['contact']">Contacto</a></li>
    </ul>
  </nav>
</header>
