<!--
<footer class="footer fixed-bottom">
    <div class="col-12 text-center">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-secondary" [routerLink]="['about-us']">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" [routerLink]="['contact']">Contacto</a>
          </li>
        </ul>
    </div>
      <div class="col-12 text-center">
          <p>

          </p>
      </div>
</footer> -->
<footer class="footer-section fixed-bottom">
    <h2>© 2018 Elemental web, All Rights Reserved. Designed by <a href="http://elementalweb.com.mx" target="_blank">Elemental</a></h2>
</footer>
