
<footer class="footer fixed-bottom">
    <div class="col-12 text-center">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-secondary" [routerLink]="['about-us']">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" [routerLink]="['contact']">Contacto</a>
          </li>
        </ul>
    </div>
      <div class="col-12 text-center">
          <p>
              © 2018 Elemental web, All Rights Reserved.
          </p>
      </div>
</footer>
