<div class="row justify-content-center">
    <div class="col-10">
        <h3>Nosotros</h3>
        <h5>¿Que hacemos?</h5>
        <p>
            Somos una empresa dedicada al desarollo de aplicaiones web, moviles y de escritorio, integrada por ingenieros especialistas en el area de ingenieria web y aplicaiones moviles,
            ayudando a personas como tu en busqueda de incrementar sus clientes potenciales y lo mas importante, que sus ideas y negocios crescan cada día.
        </p>
    </div>
</div>
<div class="row justify-content-center">

    <div class="col-9">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/images/gmail_Icon.png" style="width:180px !important; height:180px; margin: 0 auto;" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">G-mail</h5>
            <p>elemental.io.clientes@gmail.com</p>
            <a href="#" class="btn btn-primary">Contactar</a>
          </div>
        </div>
    </div>
</div>
