

	<!-- Page header -->
	<!-- <div class="page-top-section">
		<div class="overlay"></div>
		<div class="container text-right">
			<div class="page-info">
				<h2>Contact</h2>
				<div class="page-links">
					<a href="#">Home</a>
					<span>Contact</span>
				</div>
			</div>
		</div>
	</div> -->
	<!-- Page header end -->


	<!-- Google map -->
	<!-- <div class="map" id="map-area"></div> -->

    <!-- Contact section -->
    <!-- <div class="contact-section spad fix">
        <div class="container">
            <div class="row justify-content-around"> -->
                <!-- contact info -->
                <!--
                    <div class="section-title left">
                        <h2>Contacto</h2>
                    </div>
                    <h3 class="mt60">Datos</h3>
                    <p class="con-item">Telefono: (+52) 44-33-49-77-98 </p>
                    <p class="con-item">G-mail: elemental.io.contactos@gmail.com </p>
                    <div class="row">
                        <div class="col-4">
                            <a href="https://www.facebook.com/elementalweb/" target='_blank'><h3 class="mt60">Facebook</h3></a>
                        </div>
                        <div class="col-4">
                            <a href="https://www.instagram.com/elemetal.io/" target='_blank'><h3 class="mt60">Instagram</h3></a>
                        </div>
                    </div>


                </div> -->
                <!-- contact form -->
                <!-- <div class="col-md-6 col-pull">
                    <form class="form-class" id="con_form">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" name="name" placeholder="Your name">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="email" placeholder="Your email">
                            </div>
                            <div class="col-sm-12">
                                <input type="text" name="subject" placeholder="Subject">
                                <textarea name="message" placeholder="Message"></textarea>
                                <button class="site-btn">send</button>
                            </div>
                        </div>
                    </form>
                </div> -->
            <!-- </div>
        </div>
    </div> -->
    <!-- Contact section end-->
<!-- Contact section -->
<div class="contact-section spad fix">
    <div class="section-title dark">
        <h2>Contactanos <span>Elemental</span></h2>
    </div>
    <div class="container">
        <div class="row">
            <!-- contact info -->
            <div class="col-md-5 col-md-offset-1 contact-info col-push">
                <p>Si quieres saber mas hacerca de nosotros ó realizar alguna cotización envianos un mensaje y te contestaremos lo mas pronto posible.</p>
                <h3 class="mt60">Datos de contacto</h3>
                <p class="con-item">(+52) 443-349-77-98</p>
                <p class="con-item">clientes@elementalweb.com.mx</p>
            </div>
            <!-- contact form -->
            <div class="col-md-6 col-pull">
                <form class="form-class" id="con_form" #formAdminProducts="ngForm" name="formAdminProducts" (ngSubmit)="onSubmit(formAdminProducts)" encType="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="name" placeholder="Escribe tu nombre" (ngModel)="name">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="email" placeholder="Escribe tu email" (ngModel)="email">
                        </div>
                        <div class="col-sm-12">
                            <input type="text" name="subject" placeholder="Asunto" (ngModel)="subject">
                            <textarea name="message" placeholder="Mensaje" (ngModel)="message"></textarea>
                            <button class="site-btn" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact section end-->
<!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"  style="height: 400px; width:100%;">
    <agm-marker [latitude]="lat" [longitude]="lng" [title]="title"></agm-marker>
</agm-map> -->
