

	<!-- Page header -->
	<!-- <div class="page-top-section">
		<div class="overlay"></div>
		<div class="container text-right">
			<div class="page-info">
				<h2>Contact</h2>
				<div class="page-links">
					<a href="#">Home</a>
					<span>Contact</span>
				</div>
			</div>
		</div>
	</div> -->
	<!-- Page header end -->


	<!-- Google map -->
	<!-- <div class="map" id="map-area"></div> -->

    <!-- Contact section -->
    <!-- <div class="contact-section spad fix">
        <div class="container">
            <div class="row justify-content-around"> -->
                <!-- contact info -->
                <!--
                    <div class="section-title left">
                        <h2>Contacto</h2>
                    </div>
                    <h3 class="mt60">Datos</h3>
                    <p class="con-item">Telefono: (+52) 44-33-49-77-98 </p>
                    <p class="con-item">G-mail: elemental.io.contactos@gmail.com </p>
                    <div class="row">
                        <div class="col-4">
                            <a href="https://www.facebook.com/elementalweb/" target='_blank'><h3 class="mt60">Facebook</h3></a>
                        </div>
                        <div class="col-4">
                            <a href="https://www.instagram.com/elemetal.io/" target='_blank'><h3 class="mt60">Instagram</h3></a>
                        </div>
                    </div>


                </div> -->
                <!-- contact form -->
                <!-- <div class="col-md-6 col-pull">
                    <form class="form-class" id="con_form">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" name="name" placeholder="Your name">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="email" placeholder="Your email">
                            </div>
                            <div class="col-sm-12">
                                <input type="text" name="subject" placeholder="Subject">
                                <textarea name="message" placeholder="Message"></textarea>
                                <button class="site-btn">send</button>
                            </div>
                        </div>
                    </form>
                </div> -->
            <!-- </div>
        </div>
    </div> -->
    <!-- Contact section end-->
<div class="services-section spad fix">
    <div class="container">
        <div class="section-title dark">
            <h2>Contactanos <span>Elemental</span></h2>
        </div>
        <div class="contact-info">
            <!-- <div class="row text-center">
                <div class="col-4">
                    <a href="https://api.whatsapp.com/send?phone=524433497798&text=Estoy%20interesado%20por%20un%20servicio%20quiero%20mas%20información" target="_blank" title="Whatsapp de elementalweb (+52) 443-349-7798"><h3 class="mt60">Whatsapp</h3></a>
                    <a href="https://api.whatsapp.com/send?phone=524433497798&text=Estoy%20interesado%20por%20un%20servicio%20quiero%20mas%20información" target='_blank' title="Icono de whatsapp para contactar a elementalweb (+52) 443-349-7798"><img src="/assets/img/whatsapp.svg" style="width:50px; height:50px;"></a>
                </div>
                <div class="col-4">
                    <a href="https://www.facebook.com/elementalweb/" target='_blank' title="Facebook de elementalweb"><h3 class="mt60">Facebook</h3></a>
                    <a href="https://www.facebook.com/elementalweb/" target='_blank' title="Icono de facebook para acceder al facebook elementalweb"><img src="/assets/img/facebook.svg" style="width:50px; height:50px;"></a>
                </div>
                <div class="col-4">
                    <a href="https://www.instagram.com/elemetal.io/" target='_blank' title="Instagram de elementalweb"><h3 class="mt60">Instagram</h3></a>
                    <a href="https://www.instagram.com/elemetal.io/" target='_blank' title="Icono de instagram para acceder al instagram de elementalweb"><img src="/assets/img/instagram.svg" alt="Icono de instagram para acceder a elementalweb" style="width:50px; height:50px;"></a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <a href="#" target='_blank' title="E-mail de elementalweb clientes@elementalweb.com.mx"><h3 class="mt60">E-mail</h3></a>
                    <a href="#" target='_blank' title="Icono de e-mail para para contactar a elementalweb clientes@elementalweb.com.mx"><img src="/assets/img/letter.svg" alt="Icono de instagram para acceder a elementalweb" style="width:50px; height:50px;"></a>
                </div>
                <div class="col-4">
                    <a href="https://m.me/elementalweb" target='_blank' title="Messenger de elementalweb"><h3 class="mt60">Messenger</h3></a>
                    <a href="https://m.me/elementalweb" target='_blank' title="Icono de messenger para contactar a  elementalweb"><img src="/assets/img/messenger.svg" alt="Icono de instagram para acceder a elementalweb" style="width:50px; height:50px;"></a>
                </div>
            </div> -->
        </div>
    </div>
</div>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"  style="height: 400px; width:100%;">
    <agm-marker [latitude]="lat" [longitude]="lng" [title]="title"></agm-marker>
</agm-map>
