<!-- Page Preloder -->
<div id="preloder">
    <div class="loader">
        <img src="/assets/img/logo.svg" alt="">
        <h2>Cargando.....</h2>
    </div>
</div>
<!-- /Page Preloder -->

<!-- header -->
<header class="header-section">
    <div class="col-12 fixed-top">
        <a href="https://www.facebook.com/elementalweb/" target='_blank' title="Facebook de elementalweb" style="font-size:2em;">
            <i class="fa fa-facebook-square" aria-hidden="true" style="padding-left: 25%; color: #6a23b5;"></i>
        </a>
        <a href="https://www.instagram.com/elemetal.io/" target='_blank' title="Instagram de elementalweb" style="font-size:2em;">
            <i class="fa fa-instagram" aria-hidden="true" style="padding-left: 15px; color: #6a23b5;"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=524433497798&text=Estoy%20interesado%20por%20un%20servicio%20quiero%20mas%20información" target='_blank' title="Whatsapp de elementalweb (+52) 443-349-7798" style="font-size:2em;">
            <i class="fa fa-whatsapp" aria-hidden="true" style="padding-left: 15px; color: #6a23b5;"></i>
        </a>
        <a href="#" target='_blank' title="E-mail de elementalweb clientes@elementalweb.com.mx" style="font-size:2em;">
            <i class="fa fa-envelope" aria-hidden="true" style="padding-left: 15px; color: #6a23b5;"></i>
        </a>
    </div>
    <!-- Logo -->
    <div class="logo">
        <a [routerLink]="['dashboard']"><img src="/assets/img/logo.svg" alt="logo de elementalweb creador de sitios web" title="Logo de Elemental web"></a>
    </div>
    <!-- /Logo -->
    <!-- Navigation -->
    <div class="responsive"><i class="fa fa-bars"></i></div>
    <nav>
        <ul class="menu-list">
            <li [routerLinkActive]="['active']"><a [routerLink]="['dashboard']">Inicio</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['about-us']">¿Quiénes somos?</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['services']">Servicios</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['contact']">Contacto</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['challenge']">Concursos</a></li>
        </ul>
    </nav>
    <!-- /Navigation -->
</header>
<!-- /header -->

<!-- main -->
<main role="main" class="cointainer-fluid">
    <router-outlet></router-outlet>
</main>
<!-- /main -->

<!-- footer -->
<footer class="footer-section fixed-bottom">
    <h2>© 2018 Elemental web, All Rights Reserved. Designed by <a href="http://elementalweb.com.mx" target="_blank">Elemental</a> <span style="color:#2be6ab;"> visitas: {{ visitorCounter }}</span></h2>
</footer>
<!-- /footer -->
