
<!-- Services section -->
<div class="services-section spad">
    <div class="container">
        <div class="section-title dark">
            <h2>Nuestros servicios <span>Elemental</span></h2>
        </div>
        <div class="row">
            <!-- single service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <div class="icon">
                        <i class="flaticon-023-flask"></i>
                    </div>
                    <div class="service-text">
                        <h2>Aplicaciones web</h2>
                        <p>Desarrollo de aplicaciones web adaptadas a las necesidades de nuestros clientes, utilizando la mejor tecnología.</p>
                    </div>
                </div>
            </div>
            <!-- single service -->
            <!-- <div class="col-md-4 col-sm-6">
                <div class="service">
                    <div class="icon">
                        <i class="flaticon-011-compass"></i>
                    </div>
                    <div class="service-text">
                        <h2>Projects online</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla..</p>
                    </div>
                </div>
            </div> -->
            <!-- single service -->
            <!-- <div class="col-md-4 col-sm-6">
                <div class="service">
                    <div class="icon">
                        <i class="flaticon-037-idea"></i>
                    </div>
                    <div class="service-text">
                        <h2>SMART MARKETING</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla..</p>
                    </div>
                </div>
            </div> -->
            <!-- single service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <div class="icon">
                        <i class="flaticon-018-laptop-1"></i>
                    </div>
                    <div class="service-text">
                        <h2>Aplicaciones moviles</h2>
                        <p>Desarrollo de aplicaciones para dispositivos moviles, adaptadas a tus necesidades, buscando siempre la inovación y las herramientas necesarias para tu empresa</p>
                    </div>
                </div>
            </div>
            <!-- single service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <div class="icon">
                        <i class="flaticon-043-sketch"></i>
                    </div>
                    <div class="service-text">
                        <h2>Sitios web</h2>
                        <p>Si quieres que las personas encuentren de manera mas rapida tu negocio, es tuy mejor opcion, nosotros creamos un sitio web ideal para ti.</p>
                    </div>
                </div>
            </div>
            <!-- single service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <div class="icon">
                        <i class="flaticon-039-vector"></i>
                    </div>
                    <div class="service-text">
                        <h2>Branding</h2>
                        <p>Te ayudamos a administrar tus redes sociales, haciendo que tu negocio obtenga mas clientes potenciales y que las personas te conozcan día a día</p>
                    </div>
                </div>
            </div>
            <!-- single service -->
            <!-- <div class="col-md-4 col-sm-6">
                <div class="service">
                    <div class="icon">
                        <i class="flaticon-036-brainstorming"></i>
                    </div>
                    <div class="service-text">
                        <h2>Brainstorming</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla..</p>
                    </div>
                </div>
            </div> -->
            <!-- single service -->
            <!-- <div class="col-md-4 col-sm-6">
                <div class="service">
                    <div class="icon">
                        <i class="flaticon-026-search"></i>
                    </div>
                    <div class="service-text">
                        <h2>Documented</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla..</p>
                    </div>
                </div>
            </div> -->

            <!-- single service -->
            <!-- <div class="col-md-4 col-sm-6">
                <div class="service">
                    <div class="icon">
                        <i class="flaticon-012-cube"></i>
                    </div>
                    <div class="service-text">
                        <h2>Ultra modern</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla..</p>
                    </div>
                </div>
            </div>
        </div> -->


    </div>
    <div class="text-center mt60">
        <a [routerLink]="['../contact']" class="site-btn btn-2">contactar</a>
    </div>
</div>
<!-- services section end -->
